.main-header {
  max-width: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1220px;
  }
}
