.promo-wrapper-text__title {
  margin: 0;
  padding: 27px 35px 26px 36px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.promo-wrapper-text__slogan {
  margin: 0;
  padding-bottom: 164px;
  font-family: oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.promo-wrapper-text {
  position: relative;
}

.promo-food-image::after {
  position: absolute;
  content: "";
  background-image: url(/source/img/promo-food.png);
  width: 280px;
  height: 270px;
  top: 100px;
  right: 1px;
}

@media (min-width: @tablet-width) {
  .promo-wrapper-text {
    display: flex;
    flex-direction: column;
    width: 640px;
    margin-left: 117px;
    background-color: #e5e5e5;
  }
}

@media (min-width: @desktop-width) {
  .promo-wrapper-text {
    width: 1220px;
    margin-left: 190px;
  }
}
