.promo__wrapper {
  // background-blend-mode: multiply;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url(/source/img/promo-cat.jpg);
  background-position: top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  // background-color: rgba(104, 183, 56, 0.85);
  margin-bottom: 135px;
}

.promo__form {
  width: 280px;
  margin: 0 20px;
  padding: 7px 44px;
}
