.stats-wrapper-commercial {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #e5e5e5;
  color: #000000;
}
